@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@layer base {
    html {
        font-family: 'Spoqa Han Sans Neo', system-ui, 'sans-serif';
    }
}

.navbar {
    transition: top 0.4s ease-in-out;
}

.listByTag .prose {
    @apply pl-8
}

.fadeInTransition {
    transition: all 1s ease-in-out
}

.prose header {
    @apply border-b-4 mb-10
}

.prose header p {
    @apply my-2
}

.prose header div {
    @apply flex flex-wrap gap-2 mb-2
}

.prose header h1 {
    @apply text-5xl mb-4 border-none
}

.mdSyntax h1 {
    @apply text-4xl border-b
}

.mdSyntax h2 {
    @apply text-3xl border-b
}

.mdSyntax h3 {
    @apply text-2xl border-b
}

.mdSyntax h4 {
    @apply text-xl border-b
}

.mdSyntax h5 {
    @apply text-lg border-b
}

.mdSyntax h6 {
    @apply text-base border-b
}

.mdSyntax p {
    @apply text-lg
}

.mdSyntax blockquote {
    @apply border-l-primary;
    quotes: none;
}